:root {
    --current-color: #118DF0;
}

* {
    margin-top: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: #343541;
    line-height: 1.25;
    background: #f8f8f8;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 1rem 0;
}

table {
    width: 100%;
}

th,
td {
    text-align: left;
    padding: .25rem .5rem;
}

tr:nth-child(odd) td {
    background: #f8f8f8;
}

td form {
    display: inline-block;
}

menu {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

menu li {
    display: inline-block;
    margin: 0 1rem;
}

img {
    max-width: 100%;
}

/* BOF Grid */
#app.columns_2 {
    display: grid;
    grid-template-columns: auto 280px 600px 320px auto;
}
#app.columns_2 > header {
    grid-column: 1 / 6;
}
#app.columns_2 > #sidebar_left {
    grid-column: 2 / 3;
}
#app.columns_2 > main {
    grid-column: 3 / 5;
}
#app.columns_2 > footer {
    grid-column: 1 / 6;
}

#app.columns_3 {
    display: grid;
    grid-template-columns: auto 280px 600px 288px auto;
    grid-column-gap: 16px;
}
#app.columns_3 > header {
    grid-column: 1 / 6;
}
#app.columns_3 > #sidebar_left {
    grid-column: 2 / 3;
}
#app.columns_3 > main {
    grid-column: 3 / 4;
}
#app.columns_3 > #sidebar_right {
    grid-column: 4 / 5;
}
#app.columns_3 > footer {
    grid-column: 1 / 6;
}
/* EOF Grid */

/* BOF Sidebars */
.sidebars {
    position: relative;
    margin-top: 32px;
}
.sidebars menu li {
    display: block;
    margin: 1rem;
    font-size: 18px;
}
/* EOF Sidebars */

.box {
    position: relative;
    padding: 1rem;
    max-width: 1200px;
    margin: 0 auto;
}
.page {
    position: relative;
    padding: 1rem;
    padding: 1.5rem 2rem;
    max-width: 900px;
    margin: 0 auto;
}

main .box {
    background: #ffffff;
    box-shadow: 0 6px 14px 0 #0000001a;
    margin-top: 32px;
    margin-bottom: 32px;
}

main .page {
    background: #ffffff;
    box-shadow: 0 6px 14px 0 #0000001a;
    margin-top: 32px;
    margin-bottom: 32px;
}

nav {
    position: relative;
}

a {
    text-decoration: underline;
    color: inherit;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a,
nav a {
    text-decoration: none;
    color: inherit;
}

label {
    display: block;
}
form > div {
    margin-bottom: 1rem;
}
td form > div {
    margin-bottom: 0;
}

fieldset {
    margin: 0;
    padding: 0;
    border: 0;
}

code,
pre {
    display: block;
    margin: 0 0 1rem;
    padding: 1rem;
    background: #efefef;
    border: 1px solid #dedede;
    border-radius: 3px;
    overflow-wrap: break-word;
    white-space: pre-wrap;
}

hr {
    border: 0;
    border-bottom: 1px solid #343541;
}

#app > header {
    height: auto;
    background: #ffffff;
    box-shadow: 0 6px 14px 0 #0000001a;
    padding: 12px 0;
    margin-bottom: 16px;
}

#app > header .logo {
    vertical-align: text-bottom;
    margin-right: 8px;
}

#app > header h2 {
    margin-bottom: 0;
}

#app > header > .box {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 1200px;
    height: 100%;
    margin: 0 auto;
    padding: 0 1rem;
}


/* BOF Navigation */
header nav {
    position: static;
}
#toggle_menu {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    white-space: nowrap;
    clip-path: inset(50%);
}
#toggle_menu + label {
    display: none;
    position: relative;
    padding: 0.5rem;
    background: #fff;
    cursor: pointer;
    user-select: none;
    line-height: normal;
}
/* EOF Navigation */

#app > footer {
    background: #ffffff;
    box-shadow: 0 6px 14px 0 #0000001a;
    padding: 12px 0 0 0;
}

#app > footer > .box {
    display: flex;
    justify-content: space-between;

    width: 1200px;
    height: 100%;
    margin: 0 auto;
    padding: 1rem;
}
#app > footer > .box > * {
    width: 50%;
}

#app > footer menu {
    display: flex;
    justify-content: end;
}

#app > footer ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
#app > footer li {
    margin-bottom: 1rem;
}

input[type=submit],
button,
.button {
    position: relative;
    background-color: transparent; 
    color: inherit; 
    border-width: 0; 
    padding: 0; 
    cursor: pointer;

    display: inline-block;
    padding: 12px 24px;
    padding: 8px 24px;
    font-size: 1rem;
    background: #118DF0;
    color: #ffffff;
    border-radius: 2px;
    font-weight: 500;
    transition: .3s opacity, .3s background;

    text-decoration: none;
    line-height: normal;
}
input[type=submit]:hover,
button:hover,
.button:hover {
    background: #118DF0;
    opacity: 0.9;
}

.link {
    position: relative;
    background-color: transparent; 
    color: inherit; 
    border-width: 0; 
    padding: 0; 
    cursor: pointer;

    display: inline-block;
    padding: 0;
    font-size: 1rem;
    border-radius: 0;
    font-weight: normal;
    transition: none;

    text-decoration: none;
    line-height: normal;
}
.link:hover {
    border-bottom: 1px solid currentColor;
    background: transparent;
    opacity: 1;
}

select {
    padding: 0.5rem;
    max-width: 218px;
    width: 100%;
}

textarea,
input[type=text],
input[type=password] {
    padding: .4rem .6rem;
    border: 1px solid #e0e0e0;
    border-radius: 3px;
    color: #495057;
    /*
    max-width: calc(100% - 24px);
     */
    max-width: 100%;
}

textarea {
    width: 100%;
    height: 250px;
    padding: 12px;
    font-family: inherit;
    font-size: inherit;
}

button.close {
    position: absolute;
    top: .5rem;
    right: .5rem;
    background: #118DF0;
    padding: 4px 4px 0 4px;
    width: 30px;
    color: #ffffff;
    font-size: 24px;

    background: transparent;
    color: initial;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 30px;
    height: 30px;
}
button.close:hover {
    /*
    background: #d6d6d6;
     */
    background: #ffffff;
    opacity: 0.9;
    box-shadow: 0 6px 14px 0 #0000001a;
}
[aria-label=Close] {
    position: absolute;
    top: .5rem;
    right: .5rem;
    background: #008000;
    padding: 4px 4px 0 4px;
    width: 30px;
    color: #ffffff;
    font-size: 24px;

    background: transparent;
    color: initial;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 30px;
    height: 30px;
}
[aria-label=Close]:hover {
    background: #ffffff;
    opacity: 0.9;
    box-shadow: 0 6px 14px 0 #0000001a;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* BOF Notices */
.notice {
    position: relative;        
    padding: .75rem 1.25rem;   
    margin-bottom: 1rem;       
    border-radius: .25rem;     
    border: 1px solid transparent;

    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
}       
.notice.error {
    color: #721c24;            
    background-color: #f8d7da; 
    border-color: #f5c6cb;     
}   

.notice.success {             
    color: #155724;            
    background-color: #d4edda; 
    border-color: #c3e6cb;     
}   
.notice.warn {             
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}   
.notice p:last-child {         
    margin-bottom: 0;
}
/* EOF Notices */

/* BOF Inline Menu */
.inline_menu > input {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    white-space: nowrap;
    clip-path: inset(50%);
}
.inline_menu > input + label {
    position: relative;
    padding: 0.5rem;
    background: transparent;
    cursor: pointer;
    user-select: none;
    line-height: normal;
    display: inline-block;
    background: url(/mavoc/images/tabler-icons/dots.svg) no-repeat;
    width: 24px;
    height: 24px;
}
.inline_menu > input + label + menu {
    display: none;
}
.inline_menu > input:checked + label {
    background: url(/mavoc/images/tabler-icons/x.svg) no-repeat;
}
.inline_menu > input:checked + label + menu {
    display: block;
    position: absolute;
    top: 32px;
    left: 0;
    width: 100%;
    min-width: 240px;
    z-index: 1;
    padding: 1rem;
    padding-left: 50%;
    background: #fff;
    box-shadow: 0 6px 14px 0 #0000001a;
}
.inline_menu > input:checked + label + menu li {
    display: block;
    margin: 0 0 1rem 0;
}
.inline_menu > input:checked + label + menu li:last-child {
    margin: 0;
}
.inline_menu form > div {
    margin-bottom: 0;
}
.inline_menu input[type=submit],
.inline_menu button {
    position: relative;
    background-color: transparent; 
    color: inherit; 
    border-width: 0; 
    padding: 0; 
    cursor: pointer;

    display: inline-block;
    padding: 0;
    font-size: 1rem;
    border-radius: 0;
    font-weight: normal;
    transition: none;

    text-decoration: none;
    line-height: normal;
    border-bottom: 1px solid transparent;
}
.inline_menu input[type=submit]:hover,
.inline_menu button:hover {
    border-bottom: 1px solid currentColor;
    background: transparent;
    opacity: 1;
}
/* EOF Inline Menu */


/* BOF: Login */
.page_login main .page {
    display: grid;
    grid-auto-columns: 1fr;
    grid-column-gap: 1rem;
}
.page_login main .page > :nth-child(1) {
    grid-column: 1 / 5;
}
.page_login main .page > :nth-child(2) {
    grid-column: 1 / 3;
}
.page_login main .page > :nth-child(3) {
    grid-column: 3 / 5;
}
/* EOF: Login */

/* There should really be a browser standard for screen reader only content: 
 * https://css-tricks.com/inclusively-hidden/
 * https://github.com/h5bp/main.css/issues/12
 */   
/*
.screen_reader { 
position: absolute;        
margin: 0;
padding: 0;                
width: 1px;
height: 1px;
overflow: hidden;          
border: 0;
white-space: nowrap;
clip-path: inset(50%);     
}
 */

.screen_reader:not(:focus):not(:active) {
    clip: rect(0 0 0 0); 
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap; 
    width: 1px;
} 

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #00000033;
    padding: 1rem;

    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.overlay.show {
    display: flex;
}
.overlay:not(#processing) > div {
    position: relative;
    background: #ffffff;
    border: 1px solid #e0e0e0;
    padding: 1rem;
    border-radius: 3px;
    min-width: 280px;
}
.overlay:not(#processing) > div h2 {
    padding-right: 40px;
}

.overlay > .loading {
    position: relative;
}
.overlay > .loading span {
    display: block;
    background: #ffffff;
    border-radius: 50%;
    width: 20px;
    height: 20px;

    animation: bounce 1.4s infinite ease-in-out both;
    animation-delay: -0.16s;
}
.overlay > .loading:before {
    content: '';
    position: absolute;
    top: 0;
    left: -28px;
    background: #ffffff;
    border-radius: 50%;
    width: 20px;
    height: 20px;

    animation: bounce 1.4s infinite ease-in-out both;
    animation-delay: -0.32s;
}
.overlay > .loading:after {
    content: '';
    position: absolute;
    top: 0;
    left: 28px;
    background: #ffffff;
    border-radius: 50%;
    width: 20px;
    height: 20px;

    animation: bounce 1.4s infinite ease-in-out both;
}
@keyframes bounce {
    0%, 80%, 100% { 
        transform: scale(0);
    } 40% { 
        transform: scale(1.0);
    }
}

.process input[type=submit]:after,
.process a:after,
.process button:after,
.process .button:after,
input[type=submit].process:after,
button.process:after,
.button.process:after {
    content: '';
    position: absolute;
    bottom: -8px;
    left: 0;
    display: block;
    width: 100%;
    border-bottom: 2px solid var(--current-color);

    animation: process 1.4s infinite linear;
}

@keyframes process {              
    0% {
        width: 1%;        
    }
    100% {
        width: 100%;        
    } 
} 

.desktop {
    display: block;
}
.mobile {
    display: none;
}

@media (max-width: 1199px) {
    #app > header  > .box, 
    #app > footer > .box {
        width: auto;
    }

    #app > footer menu {
        display: block;
    }

    /* BOF Navigation */
    #toggle_menu + label {
        display: inline-block;
        background: url(/mavoc/images/tabler-icons/menu-2.svg) no-repeat;
        width: 24px;
        height: 24px;
    }
    #toggle_menu + label + menu {
        display: none;
    }
    #toggle_menu:checked + label {
        background: url(/mavoc/images/tabler-icons/x.svg) no-repeat;
    }
    #toggle_menu:checked + label + menu {
        display: block;
        position: absolute;
        top: 42px;
        left: 0;
        width: 100%;
        height: calc(100vh - 36px);
        z-index: 1;
        padding: 1rem;
        padding-left: 50%;
        background: #fff;
    }
    #toggle_menu:checked + label + menu li {
        display: block;
        margin: 1rem 0;
    }
    /* EOF Navigation */


    /* BOF Make Table Vertical */
    table {
        display: block;
    }
    thead {
        display: none;
    }
    tbody {
        display: block;
    }
    tr {
        display: block;
        margin-bottom: 1rem;
        background: #f8f8f8;
        padding: .5rem;
    }
    td {
        display: block;
        width: 100%;
        padding-left: 50%;
    }
    td:before {          
        content: attr(data-label);      
        display: block;
        width: 50%;
        text-align: center;
        margin-left: -90%;
        float: left;
    }
    td:after {
        content: '';
        display: table;
        clear: both;
    }
    td input[type=submit],
    td button,
    td .button {
        margin-bottom: 1rem;
    }

    /* EOF Make Table Vertical */

    .desktop {
        display: none;
    }
    .mobile {
        display: block;
    }
}
